PATH_add bin
PATH_add build

export GOBIN=${PWD}/bin

export ORDERS_SERVICE_URL=http://localhost:8081
export INVENTORY_SERVICE_URL=http://localhost:8082
export EMAIL_SERVICE_URL=http://localhost:8084
export POSTGRES_URL="postgres://orderflow:orderflow@localhost:5432/orderflow?sslmode=disable&search_path=orders,inventory,public"
export KAFKA_BROKERS=localhost:9094
export OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317

source_env_if_exists .envrc.local
