global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:8889']

  - job_name: 'orderflow-services'
    static_configs:
      - targets:
          - 'gateway:8080'
          - 'orders:8081'
          - 'worker:8083'
